@import '~@swimlane/ngx-datatable/release/index.css';
@import '~@swimlane/ngx-datatable/release/themes/material.css';
@import '~@swimlane/ngx-datatable/release/assets/icons.css';

.table-detail {
    padding-left: 80px;
    font-size: 14px;
    .table {
        margin-right: 80px;
    }
    td {
        text-transform: left;
        vertical-align: top;
    }
    .heading {
        color: rgba(0, 0, 0, 0.54);
        font-size: 12px;
    }
    td.heading {
        width: 60px;
    }
    .heading.id {
        float: right;
        margin-right: 10px;
    }
}
