<div *ngIf="stateService.state == 'home'">
    <h5>Welcome to the FIT Publications Database</h5>
    <p >In the 1990s a need was identified by the Falkland Islands Government to co-ordinate within the Falkland Islands as much as possible of ongoing scientific activity to ensure the most efficient and effective use of available scientific resources. An essential component of this was the documentation of all previously and currently published scientific information in a readily available form for both scientists and students to use.</p>
    <p>A comprehensive database has been prepared by the <a href="http://www.ukfit.org" target="_blank">Falkland Islands Trust</a> (with support from Fortuna Ltd and The Falkland Islands Government) containing many previously inaccessible entries. The database is of value to the scientific, commercial and educational sectors in the Falkland Islands. Use the search box at the top this page to begin using the database. Currently the database is managed by the United Kingdom Falkland Islands Trust. If you have any suggestions or queries contact <a href="mailto:jim.mcadam@afbini.gov.uk">Professor Jim McAdam</a>.</p>
    <p><b>Developed by the United Kingdom Falkand Islands Trust with the support of the Falkland Islands Government and Fortuna Ltd.</b></p>
    <div class="container">
        <div class="row">
            <div class="col s0 m2 l2"></div>
            <div class="col s12 m4 l4 center-align"><img src="assets/images/fit-logo.png" class="responsive-img"></div>
            <div class="col s12 m4 l4 center-align">
                <div class="row img-row"><img src="assets/images/fk-logo.png" class="responsive-img"></div>
                <div class="row img-row"><img src="assets/images/fortuna-logo.png" class="responsive-img"></div>
            </div>
            <div class="col s0 m2 l2"></div>
        </div>
    </div>
</div>
